.container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 100px);
  }
  
  .wrapper{
    width: 550px;
    background-color: var(--primarySoft);
    padding: 60px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    border-radius: 10px;
  }