.user {
    margin: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding-bottom: 15px;
  }
  
  .detail {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .userBtn{
    padding: 8px 16px;
    background-color: var(--primary);
    border-radius: 5px;
    cursor: pointer;
    border: none;
    color: white;
    transition: all .5s ease-in;
  }

  .userBtn:hover {
    background-color: var(--bgDark);
  }