.container {
    display: flex;
    gap: 100px;
    margin-top: 0;
    
}

.section {
    justify-content: center;
    margin-top: 0;
}

.imgContainer {
    flex: 1;
    position: relative;
    height: calc(100vh - 200px);
    border-radius: 10px;
}

.img {
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid var(--primarySoft);
    
}

.textContainer {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.title {
    font-size: 64px;
    color: var(--bgDark);
}

.detail {
    display: flex;
    gap: 20px;
    color: var(--primary);
    background-color: #F6EAE6;
    justify-content: left;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
}

.detailText {
    font-weight: bold;
    display: flex;
    
    gap: 5px;
}

.detailValue {
    font-weight: 500;
}

.content {
    font-size: 20px;
}

@media (max-width:768px){
    .section {
        justify-content: initial;
    }
    .imgContainer{
      display: none;
    }

    .textContainer {
        padding: 2rem;
    }

    .detailText {
        flex-direction: column;
    }
  }