.container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 100px);
  }
  
  .wrapper{
    width: 550px;
    padding: 60px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    border-radius: 10px;
    border: 2px solid #000;
  }
  
  .github{
    width: 100%;
    padding: 20px;
    cursor: pointer;
    background-color: var(--primary);
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-in;
  }

  .github:hover {
    background-color: var(--secondary);
    color: #000;
  }

  .icon {
    margin-right: 10px;
  }