.servicesSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    background-color: var(--pink);
    min-height: 100vh;
}

.servicesWrapper {
    justify-content: center;
  }

.row {
    text-align: center;
}

.container {
    display: flex;
    gap: 200px;
    flex-direction: row;
    align-items: center;
    min-height: 100vh;
}

.title {
    font-size: 96px;
    color: var(--primary);
    text-transform: lowercase;
    margin-bottom: 10px;
}

.box h1 {
    color: #212121;
}

.boxes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.box {
    display: flex;
    flex-direction: column;
    padding: 4rem;
}

.box {
    background-color: var(--green);
    padding: 3rem 2rem;
    gap: 2rem;
    justify-content: left;
    align-items: start;
    text-align: left;
    border-radius: 10px;
    position: relative;
    border: 2px solid #000;
}

.boxes {
    gap: 2rem;
}

.icon {
    height: 5rem;
    width: 5rem;
    /* color: var(--secondary); */
    margin-bottom: 20px;
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 15px;
    border-radius: 50%;
}

.link {
    text-decoration: underline;
    margin-top: 2rem;
    font-weight: 900;
}

@media (max-width: 1024px) {
    .container {
      flex-direction: column;
      text-align: center;
      gap: 100px;
    }

    .servicesSection {
        padding-top: 80px;
        padding-bottom: 80px;
        gap: 80px;
    }
  
    .boxes{
      flex-direction: column;
      gap: 50px;
    }

    .box {
        padding: 1rem;
    }

  }
  
  @media (max-width: 768px) {
    .title {
      font-size: 64px;
    }
    .container {
        gap: 50px;
    }
  }