.container {
    min-width: 100px;
    padding: 10px;
    border-radius: 20px;
    font-weight: 500;
    text-align: center;
}

.active {
    background-color: var(--white);
    color: var(--bg);
    border: 1px solid var(--white);
}

/*
.active:hover {
    background-color: transparent;
    transition: .3s ease-in-out;
    color: var(--white);
}
*/